:root {
  --primary-color: rgb(0, 145, 120);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Helvetica, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

h1 {
  color: var(--primary-color);
  text-align: center;
  margin-bottom: 50px;
  text-transform: uppercase;
}

.container {
  width: 500px;
  box-shadow: 0px 0px 10px 6px rgba(0, 0, 0, 0.3);
  padding: 20px;
}

.row {
  height: 60px;
  /* border: 1px solid; */
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

button,
input,
select {
  height: 100%;
}

input {
  text-align: right;
}

button {
  background-color: var(--primary-color);
  color: white;
  border-radius: 5px;
  padding: 0 20px;
  border: none;
}

select {
  background-color: white;
}

#rate {
  color: var(--primary-color);
}
